*
  box-sizing: border-box
  
body, ul
  margin: 0
  padding: 0
  
nav 
  margin-bottom: 40px

#container 
  display: flex
  flex-direction: column
  
  align-items: center
  min-height: 100vh
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

  color: white
  background-color: #282c34