*
  box-sizing: border-box
  
body 
  overflow-x: hidden

body, ul
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit
  
nav 
  margin-bottom: 30px

input[type="text"]
  font-family: inherit
  font-size: inherit
  background: inherit
  color: inherit
  outline: none
  appearance: none
  -webkit-appearance: none
  border: 0

li
  list-style-type: none

#container 
  display: flex
  flex-direction: column
  
  align-items: center
  min-height: 100vh
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

  color: white
  background-color: #282c34

::-webkit-scrollbar
  width: 7px
  background: #282c34

::-webkit-scrollbar-thumb
  border-radius: 5px
  background: rgba(0, 255, 255, .5)

@media (max-width: 576px)
  nav 
    margin-bottom: 20px
  
  input 
    font-size: 16px !important

@media (max-width: 320px)
  nav 
    margin-bottom: 10px