@import "../../styles/_var"

.w 
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 20px

.t
    flex-grow: 1
    margin: 0px 5px 0 15px 
    
.i 
    width: 30px
    height: 30px
    padding: 0
    cursor: pointer

    & path 
        transition: .3s

    &:hover path 
        stroke: $primaryColor
        stroke-width: 2